
<div class="container">
    <h1>My Personal Home Page</h1>
    <p>You can read more about my and my blog</p
    <a href="/about">About</a> ||
    <%= link_to "About Me, Myself and I", about_path %>
</div>
